/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #int-hero {
    min-height: 50vh;
    background: url("/images/about-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 1;
  }
  #int-hero:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .5;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #int-hero h1 {
    color: #fff;
    font-size: 3.2em;
    text-align: center;
    margin: 0;
    position: relative;
  }
  #int-hero h1:before {
    content: '';
    position: absolute;
    display: block;
    height: 200%;
    max-height: 2.96875em;
    width: 40%;
    background: transparent;
    border: 0.15625em solid var(--primary);
    opacity: .5;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -1;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #int-hero {
    font-size: 20px;
    background: url("/images/about.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #int-hero {
    min-height: 15em;
    height: 15em;
    margin-top: 7.4em;
    background-attachment: fixed;
    background-position: center 80%;
    font-size: inherit;
  }
}
/*-- -------------------------- -->
<---           Form             -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #form {
    padding: 5em 0;
    width: 96%;
    max-width: 35em;
    margin: auto;
  }
  #form .topper {
    font-size: 0.7em;
    line-height: 1.35714286;
    color: var(--primary);
    letter-spacing: .06em;
    margin-bottom: 0.42857143em;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
  }
  #form h2 {
    font-size: 1.8em;
    line-height: 1.16666667;
    color: #000;
    font-weight: 900;
    margin-bottom: 0.66666667em;
    position: relative;
  }
  #form p {
    font-size: 0.9em;
    line-height: 1.5;
    color: #595959;
    margin-bottom: 2.66666667em;
  }
  #form #contact {
    margin-bottom: 5em;
  }
  #form #contact .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1.5em;
  }
  #form #contact .input-group label {
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 0.375em;
  }
  #form #contact .input-group input[type="text"],
  #form #contact .input-group input[type="email"],
  #form #contact .input-group input[type="tel"],
  #form #contact .input-group input[type="url"],
  #form #contact .input-group textarea {
    height: 3.35em;
    border: none;
    border-bottom: 0.05em solid #d4d4d4;
  }
  #form #contact .input-group input:focus {
    border: 0.05em solid var(--primary);
  }
  #form #contact .input-group textarea {
    min-height: 10em;
    padding-top: 1em;
  }
  #form #contact .input-group ::-webkit-input-placeholder {
    color: #d4d4d4;
    font-family: "Roboto", sans-serif;
  }
  #form #contact .input-group :-ms-input-placeholder {
    color: #d4d4d4;
    font-family: "Roboto", sans-serif;
  }
  #form #contact .input-group ::-ms-input-placeholder {
    color: #d4d4d4;
    font-family: "Roboto", sans-serif;
  }
  #form #contact .input-group ::placeholder {
    color: #d4d4d4;
    font-family: "Roboto", sans-serif;
  }
  #form #contact .button-solid {
    border: none;
  }
  #form .contact-right {
    background: #10625e;
    padding: 2.25em 1.7em;
    width: 100%;
    max-width: 15em;
    margin: auto;
    border-radius: 0.25em;
  }
  #form .contact-right .heading {
    color: #fff;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: bold;
    padding-left: 0.83333333em;
    border-left: 0.20833333em solid var(--primary);
    display: block;
    margin-bottom: 0.83333333em;
  }
  #form .contact-right .info-group {
    margin-bottom: 1.8em;
  }
  #form .contact-right .info-group:last-of-type {
    margin-bottom: 0;
  }
  #form .contact-right .info {
    font-size: 0.8em;
    line-height: 1.75;
    color: #fff;
    opacity: .9;
    text-decoration: none;
    display: block;
  }
}
/* Mobile Landscape */
@media only screen and (min-width: 568px) {
  #form #contact {
    max-width: 35em;
  }
  #form .contact-right {
    max-width: 35em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #form .contact-right .info-group {
    width: 40%;
    margin-left: 2.5em;
  }
  #form .contact-right .info-group:nth-of-type(3) {
    margin-bottom: 0;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #form #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #form #contact .input-group {
    width: 48%;
    margin-bottom: 2.5em;
    position: relative;
  }
  #form #contact .input-group:nth-of-type(5) {
    width: 100%;
  }
  #form #contact .input-group:last-of-type {
    width: 100%;
  }
  #form #contact .input-group:hover .hover-box {
    height: 2.3em;
    border: 0.05em solid var(--primary);
    pointer-events: none;
  }
  #form #contact .input-group:hover input[type="text"],
  #form #contact .input-group:hover input[type="email"],
  #form #contact .input-group:hover input[type="tel"],
  #form #contact .input-group:hover input[type="url"],
  #form #contact .input-group:hover textarea {
    padding-left: 1em;
  }
  #form #contact .input-group input[type="text"],
  #form #contact .input-group input[type="email"],
  #form #contact .input-group input[type="tel"],
  #form #contact .input-group input[type="url"],
  #form #contact .input-group textarea {
    border-bottom: none;
    position: relative;
    -webkit-transition: padding .3s;
    transition: padding .3s;
    background: transparent;
  }
  #form #contact .input-group .hover-box {
    position: absolute;
    display: block;
    height: 0.05em;
    width: 100%;
    background: transparent;
    border: 0.05em solid #e9e8e8;
    opacity: 1;
    bottom: -0.05em;
    left: 0;
    z-index: 10;
    -webkit-transition: height .3s, border .3s;
    transition: height .3s, border .3s;
    z-index: -1;
  }
  #form #contact .textarea:hover .hover-box {
    height: 6.75em;
  }
  #form #contact .form-submit {
    margin-left: auto;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    font-size: 1.5vw;
    width: 100%;
    max-width: 57.2em;
  }
  #form .left-section {
    width: 37.5em;
    margin-left: 0;
  }
  #form #contact {
    margin-right: 0;
    max-width: none;
  }
  #form .contact-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 15em;
    margin: 0;
    height: 27.7em;
    margin-top: 5em;
  }
  #form .contact-right .info-group {
    margin-left: 0;
    width: 100%;
  }
  #form .contact-right .info-group:nth-of-type(3),
  #form .contact-right .info-group:last-of-type {
    margin-bottom: 1.8em;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #form {
    font-size: inherit;
  }
}
