/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #int-hero {
    min-height: 50vh;
    background: url("/images/about-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 1;
  }
  #int-hero:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .5;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #int-hero h1 {
    color: #fff;
    font-size: 3.2em;
    text-align: center;
    margin: 0;
    position: relative;
  }
  #int-hero h1:before {
    content: '';
    position: absolute;
    display: block;
    height: 200%;
    max-height: 2.96875em;
    width: 40%;
    background: transparent;
    border: 0.15625em solid var(--primary);
    opacity: .5;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -1;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #int-hero {
    font-size: 20px;
    background: url("/images/about.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #int-hero {
    min-height: 15em;
    height: 15em;
    margin-top: 7.4em;
    background-attachment: fixed;
    background-position: center 80%;
    font-size: inherit;
  }
}
/*-- -------------------------- -->
<---           Reviews          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #reviews {
    padding-top: 8.75em;
    padding-bottom: 3.75em;
    margin: auto;
    text-align: center;
  }
  #reviews .container {
    width: 96%;
    max-width: 66em;
  }
  #reviews .title {
    margin-bottom: 4.33333333em;
  }
  #reviews .review {
    padding: 3.2em 1.5em 0.9em 1.5em;
    -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 20.5em;
    margin: auto;
    margin-bottom: 5em;
    border-radius: 0.25em;
    position: relative;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #reviews .review:last-of-type {
    margin-bottom: 0;
  }
  #reviews .review .profile {
    display: block;
    height: 4.95em;
    width: 4.95em;
    margin-left: 0;
    border-radius: 50%;
    margin-bottom: 0.8em;
    position: absolute;
    left: 1.5em;
    top: -2.55em;
  }
  #reviews .review p {
    line-height: 1.33333333;
    margin-bottom: 1.55555556em;
    text-align: left;
  }
  #reviews .review .star-group {
    border-top: 1px solid #E7E7E7;
    padding-top: 0.8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: auto;
  }
  #reviews .review .star-group .name {
    color: #1A1A1A;
    font-size: 0.9em;
    line-height: 1.33333333em;
    text-align: left;
    font-weight: bold;
    display: block;
  }
  #reviews .review .star-group .desc {
    color: #575757;
    font-weight: 400;
    display: block;
  }
  #reviews .review .star-group img {
    display: block;
    width: 4.55em;
    height: 0.75em;
    margin: 0;
  }
  #reviews .button-solid {
    margin-top: 4.16666667em;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #reviews {
    padding-top: 9.6em;
    padding-bottom: 2.5em;
  }
  #reviews .container {
    font-size: min(1.4vw, 1em);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  #reviews .title {
    margin-bottom: 3.52083333em;
  }
  #reviews .review {
    margin: 0;
    margin-bottom: 7.5em;
  }
  #reviews .review:last-child {
    margin-bottom: 7.5em;
  }
  #reviews .review p {
    text-align: left;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #reviews .review {
    background: var(--medium);
  }
  body.dark-mode #reviews .review .name {
    color: #fff;
  }
  body.dark-mode #reviews .review .desc {
    color: #fff;
    opacity: .7;
  }
}
